*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: antiquewhite;
    font-family:'Courier New', Courier, monospace;
    background:url(./img/bg.jpg);
    background-size: 100vw;
    font-size: 16px;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.123);
    border-radius: 3px;
    width: 800px;
    padding: 23px;
}

.header h1{
    font-size: 30px;
    margin-bottom: 18px;
}

.sign-up-form{
    background-color: rgba(255, 255, 255, 0.123);
    border-radius: 3px;
    width: 800px;
    padding: 23px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.form-row,.pass-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-left: 60px;
    width: 450px;
}

.form-row input[type="text"],
.form-row input[type="email"],
.form-row input[type="tel"],
.pass-row input[type="password"]{
    width: 280px;
    height: 23px;
    background-color: rgba(255, 255, 255, .69);
    border: 0;
    border-radius: 3px;
    padding: 8px;
}

.form-row label,
.pass-row label{
    text-align: right;
    font-weight: 600;
    margin: 0 auto;
}

.form-row input[type="text"]:invalid,
.form-row input[type="email"]:invalid,
.form-row input[type="tel"]:invalid,
.pass-row input[type="password"]:invalid{
    border: 2px solid red;
}

.pass-row{
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.pass-row output{
    color: crimson;
    font-weight: 600;
    font-size: 12px;
    margin-top: 10px;
    padding-left: 170px;
}

